{% extends '::base.html.twig' %}

{% block title %}{% trans %}Fancy Survey{% endtrans %}{% endblock %}

{% block body %}
    <h1>Survey creation</h1>

    {{ form(form) }}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript"></script>
{% endblock %}